<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h3 class="footer-title">{{.Site.Title}}</h3>
          <!-- Messenger Chat plugin Code -->
          <div id="fb-root"></div>

          <!-- Your Chat plugin code -->
          <div id="fb-customer-chat" class="fb-customerchat">
          </div>

          <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "101197889075449");
            chatbox.setAttribute("attribution", "biz_inbox");
          </script>

          <!-- Your SDK code -->
          <script>
            window.fbAsyncInit = function() {
              FB.init({
                xfbml            : true,
                version          : 'v12.0'
              });
            };

            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/id_ID/sdk/xfbml.customerchat.js';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>

          {{ partial "footer-menu" . }}
          
        </div>
      </div>
    </div>
  </div>
</div>
